In [1]:
import pandas as pd
import numpy as np

pd.set_option("mode.copy_on_write", True)

In [2]:
# file path to the dataset
file_path = "/Users/tinayiluo/Desktop/food.csv"

# Reading the csv
df = pd.read_csv(file_path)

In [3]:
df.head()

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,Data.Fiber,...,Data.Major Minerals.Phosphorus,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,Milk,"Milk, human",11000000,0,7,0,6.89,14,16.0,0.0,...,14,51,17,0.17,61,0.05,0.011,5.0,0.08,0.3
1,Milk,"Milk, NFS",11100000,0,4,0,4.87,8,17.9,0.0,...,103,157,39,0.42,59,0.56,0.060,0.1,0.03,0.2
2,Milk,"Milk, whole",11111000,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3
3,Milk,"Milk, low sodium, whole",11111100,0,7,0,4.46,14,16.0,0.0,...,86,253,3,0.38,29,0.36,0.034,0.9,0.08,0.3
4,Milk,"Milk, calcium fortified, whole",11111150,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3

In [11]:
df

,Category,Data_Alpha_Carotene,Data_Beta_Carotene,Data_Beta_Cryptoxanthin,Data_Carbohydrate,Data_Cholesterol,Data_Choline,Data_Fiber,Data_Lutein_and_Zeaxanthin,Data_Lycopene,...,Data_Major_Minerals_Phosphorus,Data_Major_Minerals_Potassium,Data_Major_Minerals_Sodium,Data_Major_Minerals_Zinc,Data_Vitamins_Vitamin_A___RAE,Data_Vitamins_Vitamin_B12,Data_Vitamins_Vitamin_B6,Data_Vitamins_Vitamin_C,Data_Vitamins_Vitamin_E,Data_Vitamins_Vitamin_K
0,Milk,0,7,0,6.89,14,16.0,0.0,0,0,...,14,51,17,0.17,61,0.05,0.011,5.0,0.08,0.3
1,Milk,0,4,0,4.87,8,17.9,0.0,0,0,...,103,157,39,0.42,59,0.56,0.060,0.1,0.03,0.2
2,Milk,0,7,0,4.67,12,17.8,0.0,0,0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3
3,Milk,0,7,0,4.46,14,16.0,0.0,0,0,...,86,253,3,0.38,29,0.36,0.034,0.9,0.08,0.3
4,Milk,0,7,0,4.67,12,17.8,0.0,0,0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7078,Tomatoes as ingredient in omelet,103,464,0,5.48,0,7.4,1.6,142,2597,...,30,278,6,0.21,43,0.00,0.104,18.2,0.60,8.8
7079,Other vegetables as ingredient in omelet,1,11,0,4.81,0,19.4,1.4,18,0,...,96,364,6,0.58,1,0.04,0.123,6.3,0.03,0.4
7080,Vegetables as ingredient in curry,368,994,0,11.60,0,14.6,2.2,225,458,...,46,312,19,0.28,98,0.00,0.177,16.2,0.24,8.9
7081,Sauce as ingredient in hamburgers,0,194,4,17.14,13,20.0,0.6,112,7237,...,33,190,845,0.21,21,0.04,0.104,2.5,1.90,50.8
7082,Industrial oil as ingredient in food,0,0,0,0.00,0,0.2,0.0,0,0,...,0,0,0,0.01,0,0.00,0.000,0.0,10.50,155.8

In [4]:
original_columns = [
    "Category",
    "Description",
    "Nutrient Data Bank Number",
    "Data.Alpha Carotene",
    "Data.Beta Carotene",
    "Data.Beta Cryptoxanthin",
    "Data.Carbohydrate",
    "Data.Cholesterol",
    "Data.Choline",
    "Data.Fiber",
    "Data.Lutein and Zeaxanthin",
    "Data.Lycopene",
    "Data.Niacin",
    "Data.Protein",
    "Data.Retinol",
    "Data.Riboflavin",
    "Data.Selenium",
    "Data.Sugar Total",
    "Data.Thiamin",
    "Data.Water",
    "Data.Fat.Monosaturated Fat",
    "Data.Fat.Polysaturated Fat",
    "Data.Fat.Saturated Fat",
    "Data.Fat.Total Lipid",
    "Data.Major Minerals.Calcium",
    "Data.Major Minerals.Copper",
    "Data.Major Minerals.Iron",
    "Data.Major Minerals.Magnesium",
    "Data.Major Minerals.Phosphorus",
    "Data.Major Minerals.Potassium",
    "Data.Major Minerals.Sodium",
    "Data.Major Minerals.Zinc",
    "Data.Vitamins.Vitamin A - RAE",
    "Data.Vitamins.Vitamin B12",
    "Data.Vitamins.Vitamin B6",
    "Data.Vitamins.Vitamin C",
    "Data.Vitamins.Vitamin E",
    "Data.Vitamins.Vitamin K",
]

revised_columns = [
    col.replace(" ", "_").replace(".", "_").replace("-", "_")
    for col in original_columns
]

# Now, to rename the DataFrame columns, you would use:
df.columns = revised_columns

In [5]:
df.head()

,Category,Description,Nutrient_Data_Bank_Number,Data_Alpha_Carotene,Data_Beta_Carotene,Data_Beta_Cryptoxanthin,Data_Carbohydrate,Data_Cholesterol,Data_Choline,Data_Fiber,...,Data_Major_Minerals_Phosphorus,Data_Major_Minerals_Potassium,Data_Major_Minerals_Sodium,Data_Major_Minerals_Zinc,Data_Vitamins_Vitamin_A___RAE,Data_Vitamins_Vitamin_B12,Data_Vitamins_Vitamin_B6,Data_Vitamins_Vitamin_C,Data_Vitamins_Vitamin_E,Data_Vitamins_Vitamin_K
0,Milk,"Milk, human",11000000,0,7,0,6.89,14,16.0,0.0,...,14,51,17,0.17,61,0.05,0.011,5.0,0.08,0.3
1,Milk,"Milk, NFS",11100000,0,4,0,4.87,8,17.9,0.0,...,103,157,39,0.42,59,0.56,0.060,0.1,0.03,0.2
2,Milk,"Milk, whole",11111000,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3
3,Milk,"Milk, low sodium, whole",11111100,0,7,0,4.46,14,16.0,0.0,...,86,253,3,0.38,29,0.36,0.034,0.9,0.08,0.3
4,Milk,"Milk, calcium fortified, whole",11111150,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3

In [7]:
# Drop the 'Description' and 'Nutrient Data Bank Number' columns
df = df.drop(["Description", "Nutrient_Data_Bank_Number"], axis=1)

df.head()

,Category,Data_Alpha_Carotene,Data_Beta_Carotene,Data_Beta_Cryptoxanthin,Data_Carbohydrate,Data_Cholesterol,Data_Choline,Data_Fiber,Data_Lutein_and_Zeaxanthin,Data_Lycopene,...,Data_Major_Minerals_Phosphorus,Data_Major_Minerals_Potassium,Data_Major_Minerals_Sodium,Data_Major_Minerals_Zinc,Data_Vitamins_Vitamin_A___RAE,Data_Vitamins_Vitamin_B12,Data_Vitamins_Vitamin_B6,Data_Vitamins_Vitamin_C,Data_Vitamins_Vitamin_E,Data_Vitamins_Vitamin_K
0,Milk,0,7,0,6.89,14,16.0,0.0,0,0,...,14,51,17,0.17,61,0.05,0.011,5.0,0.08,0.3
1,Milk,0,4,0,4.87,8,17.9,0.0,0,0,...,103,157,39,0.42,59,0.56,0.060,0.1,0.03,0.2
2,Milk,0,7,0,4.67,12,17.8,0.0,0,0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3
3,Milk,0,7,0,4.46,14,16.0,0.0,0,0,...,86,253,3,0.38,29,0.36,0.034,0.9,0.08,0.3
4,Milk,0,7,0,4.67,12,17.8,0.0,0,0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3

In [8]:
# Group by 'Category' and calculate the mean for each group
category_averages = df.groupby("Category").mean()

In [12]:
# Count unique values in the 'Category' column
category_counts = df["Category"].value_counts()

# Display the counts for each unique entry in 'Category'
print(category_counts)

Category
Infant formula                          173
Rice                                    143
Bread                                   119
Potato                                  105
Cookie                                  100
                                       ...
Layer dip                                 1
Bean dip                                  1
Refried beans with meat                   1
Black bean salad                          1
Industrial oil as ingredient in food      1
Name: count, Length: 2429, dtype: int64

In [10]:
category_averages

,Data_Alpha_Carotene,Data_Beta_Carotene,Data_Beta_Cryptoxanthin,Data_Carbohydrate,Data_Cholesterol,Data_Choline,Data_Fiber,Data_Lutein_and_Zeaxanthin,Data_Lycopene,Data_Niacin,...,Data_Major_Minerals_Phosphorus,Data_Major_Minerals_Potassium,Data_Major_Minerals_Sodium,Data_Major_Minerals_Zinc,Data_Vitamins_Vitamin_A___RAE,Data_Vitamins_Vitamin_B12,Data_Vitamins_Vitamin_B6,Data_Vitamins_Vitamin_C,Data_Vitamins_Vitamin_E,Data_Vitamins_Vitamin_K
Category,,,,,,,,,,,,,,,,,,,,,
100 GRAND Bar,0.0,3.0,0.000000,70.970000,12.0,24.60,1.0,2.000000,0.0,0.198000,...,86.000000,163.000000,203.000000,0.990000,38.000000,0.290000,0.016000,0.700000,0.420000,6.2
3 MUSKETEERS Bar,0.0,0.0,0.000000,77.770000,5.0,12.20,1.5,1.000000,0.0,0.230000,...,69.000000,133.000000,194.000000,0.550000,20.000000,0.160000,0.015000,0.200000,0.980000,2.9
3 Musketeers Truffle Crisp Bar,0.0,0.0,0.000000,63.150000,18.0,36.60,0.0,5.000000,0.0,0.306000,...,165.000000,296.000000,63.000000,1.830000,46.000000,0.600000,0.028000,0.000000,0.600000,5.8
Abalone,0.0,0.0,0.333333,11.586667,127.0,96.90,0.2,16.333333,0.0,2.186667,...,240.666667,336.666667,737.666667,1.223333,7.666667,0.946667,0.196667,2.466667,5.956667,36.5
Adobo,0.0,0.0,0.000000,8.520000,73.5,58.15,0.3,0.000000,0.0,3.324000,...,155.000000,208.000000,516.000000,2.465000,4.000000,0.435000,0.233000,0.100000,0.205000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zombie,1.0,41.0,5.000000,9.250000,0.0,1.50,0.1,3.000000,0.0,0.194000,...,6.000000,61.000000,5.000000,0.040000,4.000000,0.000000,0.023000,7.200000,0.030000,0.1
Zucchini,0.0,95.0,0.000000,7.440000,0.0,7.90,0.8,1674.000000,0.0,0.355000,...,32.000000,217.000000,951.000000,0.270000,8.000000,0.000000,0.122000,12.600000,0.100000,3.6
Zucchini lasagna,222.0,599.0,0.000000,13.130000,9.0,9.00,1.6,391.000000,1307.0,0.802000,...,116.000000,215.000000,311.000000,0.830000,88.000000,0.130000,0.104000,9.300000,0.430000,4.5
Zucchini soup,0.0,71.0,0.000000,2.730000,3.0,8.50,0.4,745.000000,0.0,0.293000,...,45.000000,148.000000,188.000000,0.270000,23.000000,0.140000,0.068000,6.200000,0.080000,11.2
Zwieback toast,0.0,4.0,1.000000,74.200000,8.0,10.70,2.5,16.000000,0.0,1.319000,...,55.000000,305.000000,227.000000,0.540000,16.000000,0.000000,0.082000,5.300000,2.440000,0.9

In [9]:
category_averages.head()

,Data_Alpha_Carotene,Data_Beta_Carotene,Data_Beta_Cryptoxanthin,Data_Carbohydrate,Data_Cholesterol,Data_Choline,Data_Fiber,Data_Lutein_and_Zeaxanthin,Data_Lycopene,Data_Niacin,...,Data_Major_Minerals_Phosphorus,Data_Major_Minerals_Potassium,Data_Major_Minerals_Sodium,Data_Major_Minerals_Zinc,Data_Vitamins_Vitamin_A___RAE,Data_Vitamins_Vitamin_B12,Data_Vitamins_Vitamin_B6,Data_Vitamins_Vitamin_C,Data_Vitamins_Vitamin_E,Data_Vitamins_Vitamin_K
Category,,,,,,,,,,,,,,,,,,,,,
100 GRAND Bar,0.0,3.0,0.000000,70.970000,12.0,24.60,1.0,2.000000,0.0,0.198000,...,86.000000,163.000000,203.000000,0.990000,38.000000,0.290000,0.016000,0.700000,0.420000,6.2
3 MUSKETEERS Bar,0.0,0.0,0.000000,77.770000,5.0,12.20,1.5,1.000000,0.0,0.230000,...,69.000000,133.000000,194.000000,0.550000,20.000000,0.160000,0.015000,0.200000,0.980000,2.9
3 Musketeers Truffle Crisp Bar,0.0,0.0,0.000000,63.150000,18.0,36.60,0.0,5.000000,0.0,0.306000,...,165.000000,296.000000,63.000000,1.830000,46.000000,0.600000,0.028000,0.000000,0.600000,5.8
Abalone,0.0,0.0,0.333333,11.586667,127.0,96.90,0.2,16.333333,0.0,2.186667,...,240.666667,336.666667,737.666667,1.223333,7.666667,0.946667,0.196667,2.466667,5.956667,36.5
Adobo,0.0,0.0,0.000000,8.520000,73.5,58.15,0.3,0.000000,0.0,3.324000,...,155.000000,208.000000,516.000000,2.465000,4.000000,0.435000,0.233000,0.100000,0.205000,0.0

In [ ]:
# Export 'category_averages' DataFrame to a CSV file
category_averages.to_csv("food_new.csv", index=True)